<div class="main-div">
  <mat-card class="mat-card">
    <mat-card-content class="mat-card">
      <div>
        <mat-list>
          <!-- SELECT ROLE -->
          <p>
            <mat-form-field class="example-form-fields" appearance="outline">
              <mat-label>Select an option</mat-label>
              <mat-select [(value)]="role">
                <mat-option value="CLIENTE">Cliente</mat-option>
                <mat-option value="RISTORATORE">Esercente</mat-option>
                <mat-option value="RIDER">Rider</mat-option>
              </mat-select>
            </mat-form-field>
          </p>
          <!-- ENTER USERNAME -->
          <mat-spinner *ngIf="spinner"></mat-spinner>
          <p>
            <mat-form-field class="example-form-fields" appearance="outline">
              <mat-label>Enter your username</mat-label>
              <input matInput [formControl]="username" (keyup.enter)="login()">
            </mat-form-field>
          </p>
          <!-- ENTER PASSWORD-->
          <p>
            <mat-form-field class="example-form-fields" appearance="outline">
              <mat-label>Enter your password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" (keyup.enter)="login()">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </p>

          <br>
          <!-- LOGIN BUTTON-->

          <div matDialogActions>
            <button type="submit" class="login-button" mat-raised-button (click)="login()">
              Login
            </button>
            <button class="register-button" mat-raised-button (click)="register()">Sign Up</button>
          </div>

        </mat-list>

      </div>
    </mat-card-content>
  </mat-card>
</div>


